{% extends "layout.html" %}
{% block body %}
<section class="span12">
<h2>Vorstellung des Projektes</h2>

<h3>Konzeption und Anspruch</h3>   
<p>
Das Datenbankprojekt „Bilderarchiv Rinderanspannung“ widmet sich der Erforschung historischer Anspannungsarten
von Arbeitsrindern vornehmlich für das Gebiet der heutigen Bundesrepublik Deutschland. Ein Kernelement bildet
dabei die wissenschaftliche Erschließung und Sammlung historischer Fotografien und Bilddokumente sowie anderer
ikonographischer Quellen zu diesem Thema und deren anschließende Präsentation im Rahmen eines frei zugänglichen
Online-Datenbanksystems.
</p> 
<p>
Die Datenbank selbst übernimmt die Funktion einer wissenschaftlichen Edition der Quellen und soll somit vor
allen Dingen als hilfreicher Ausgangspunkt für eine eingehende Beschäftigung mit dem Thema Rinderanspannung
dienen sowie zu neuerlichen Forschungen anregen. Soweit möglich, werden die zu erfassenden Bildquellen nach
einem standardisierten Muster aufbereitet und schließlich als Einzel-Datensätze mit allen zur Verfügung
stehenden Informationen auf der Datenbank publiziert.
</p> 
<h3>Die Sammlung Steinmetz – Keimzelle des Projektes</h3> 
<p>
Ausgangspunkt und konkreter Anlass für die Initiierung des Projektes stellt eine umfangreiche Materialsammlung
aus dem Nachlass von Heinrich Steinmetz dar, die von Herrn Dr. Klaus Hesse (Emmelshausen) bisher sorgsam
verwahrt und erschlossen worden ist und die nun erstmals einer breiten Öffentlichkeit zugänglich gemacht
werden kann. Bekannt wurde Heinrich Steinmetz in Fachkreisen vor allen Dingen für sein Werk „Kuhanspannung
in Deutschland“, mit dem er bereits 1936 eine umfassende Bestandsaufnahme zum Thema Rinderanspannung vorlegen
konnte. Darüber hinaus gebührt ihm für die Entwicklung seines verstellbaren Dreipolsterkummets, welches
maßgeblich zu einem tiergerechteren Arbeiten mit den Tieren beitragen konnte, besondere Anerkennung.
Ein Schwerpunkt der Steinmetzschen Materialsammlung bildet einerseits ein Karteikartensystem mit historischen
Fotografien zu verschiedensten landwirtschaftlichen Themen (Arbeitsverfahren, Getreideernte, Gerätekunde etc.),
insbesondere aber in Bezug auf Tierische Anspannung. Diese Karteikarten werden andererseits noch durch eine
lose, äußerst umfangreiche Bilder- und Aktensammlung ergänzt, welche höchstwahrscheinlich im Zuge der
Recherchen zu seiner Arbeit von 1936 entstanden ist. Beide Bestandteile sollen, soweit möglich, in das
Datenbanksystem eingepflegt und somit systematisiert werden. Hieraus ergibt sich zumindest zum jetzigen
Zeitpunkt eine zeitliche Konzentration der Datensätze auf die erste Hälfte des 20. Jahrhunderts.
</p> 
<h3>Perspektiven und Mitarbeit</h3>
<p>
Nach der Erschließung der Materialsammlung von Heinrich Steinmetz soll in einem zweiten Arbeitsschritt die
Datenbasis erweitert werden. Zum einen ist eine Einbindung ikonografischer Quellen aus dem Mittelalter geplant,
zum anderen auch die Integrierung weiterer privater und öffentlicher Sammlungen und Einzelbilder (Fotografien,
Postkarten, Zeichnungen), insofern diese für das Bildarchiv zur Verfügung gestellt werden.
</p>
<p>
Wenn Sie also Interesse daran haben, Ihre privaten Bildersammlung (oder Einzelbilder) dem Projekt als Leihgeber
oder Kooperationspartner zur Nutzung zur Verfügung zu stellen, würden wir uns über eine Kontaktaufnahme Ihrerseits
überaus freuen. Bitte verwenden Sie hierzu die folgende E-Mail-Adresse:
<a href="mailto:info@rinderanspannung.de">info@rinderanspannung.de</a>
</p>
<h3>Ansprechpartner und Projektverantwortlicher</h3>
<p>
<address>
<strong>Claus Kropp M.A.</strong><br>
Kontakt: <a href="mailto:c.kropp@rinderanspannung.de">c.kropp@rinderanspannung.de</a>
</address>
</p> 
<h3>Technischer Ansprechpartner</h3>
<p>
<address>
<strong>Matthias Schütz</strong><br>
Kontakt: <a href="mailto:mschuetz@rinderanspannung.de">mschuetz@rinderanspannung.de</a>
</address>
</p> 
</div>
{% endblock %}
