{% extends "layout.html" %}
{% block body %}
{% call db_navbar('') %}{%endcall%}

<script type="text/javascript">
var _next_index={};
function add_list_element(target, prop_key, placeholder, next_index) {
	if (_next_index[target] == null)
		_next_index[target] = next_index;
	var id = '' + prop_key + _next_index[target];
	$(target).append('<li class="hide" id="li_' + id +'"><input type="text" name="' + id + '" id="' + id + '" placeholder="' + placeholder + '" value=""></li>')
	$('#li_' + id).slideDown('fast');
	_next_index[target]++;
}
</script>

<div class="row">
<form class="form-horizontal span6" method="post"  action="{{url_for('save_image', store_key=store_key)}}">
	{% for prop in view_props %}
	<div class="control-group">
		<label class="control-label" for="{{prop.key}}">{{prop.human_name}}</label>
		<div class="controls" id="{{prop.key}}">
			{% if prop.type=='array' %}
				<ul id="{{prop.key}}_list" class="property_list">
				{% for idx, item in prop.value %}
				<li>
					<input type="text" name="{{prop.key}}{{idx}}" id="{{prop.key}}{{idx}}" placeholder="{{prop.placeholder}}" value="{{item}}">
				</li>	
				{% endfor %}
				</ul>
				<a href="#" class="btn btn-small" onclick="add_list_element('#{{prop.key}}_list', '{{prop.key}}', '{{prop.placeholder}}', {{prop.value|count}});">+</a>
			{% else %}
				<input type="text" name="{{prop.key}}" id="{{prop.key}}" placeholder="{{prop.placeholder}}" value="{{prop.value}}">
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<div class="control-group">
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">
				Save changes
			</button>
			<a href="{{ url_for('image_page', store_key=store_key) }}">
			<button type="button" class="btn">
				Cancel
			</button>
			</a>
		</div>
	</div>
</form>

<div class="thumbnail span6">
	<img src="{{ url_for('get_image', store_key=store_key, x=640, y=480) }}"/>
</div>

</div>
{% endblock %}
