{% extends "layout.html" %}
{% block body %}
{% call db_navbar('') %}{%endcall%}

<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deletBtn" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-content container-fluid">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3>Wirklich löschen?</h3>
	</div>
	<div class="modal-footer">
		<form method="post" action="{{url_for('delete_image', store_key=image.store_key)}}" class="span1">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                Zurück
            </button>
			<button class="btn btn-danger" type="submit">
				Löschen
			</button>
		</form>
	</div>
</div>
</div>

<div class="modal fade" id="commentDialog" tabindex="-1" role="dialog" aria-labelledby="commentBtn" aria-hidden="true">
    <div class="modal-dialog modal-md modal-content container-fluid">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3>Kommentar an den Autor</h3>
        Hinweis: Ihr Kommentar wird nicht öffentlich angezeigt und ist nur dem Autor zugänglich.
	</div>
	<form class="form-horizontal" method="post" action="{{url_for('comment', store_key=image.store_key)}}">
		<div class="modal-body">
			<div class="form-group">
				<input class="form-control" type="text" name="real_name" placeholder="Name" value=""/>
				<input class="hide" type="text" name="name" placeholder="Name" value=""/>
			</div>
			<div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Emailadresse" value="">
            </div>
			<div class="form-group">
                <textarea class="form-control" name="text" placeholder="Kommentar" rows="10" cols="80"></textarea>
            </div>
		</div>
		<div class="modal-footer">
			<a class="btn" data-dismiss="modal" aria-hidden="true">
				Zurück
			</a>
			<button class="btn btn-primary" type="submit">
				Absenden
			</button>
		</div>
	</form>
</div>
</div>

<div class="container-fluid">
<h3>{{image.prop_title}}</h3>
{% if in_result_set %}
<p>in {{ result_set_title }}</p>
{% endif %}
<div class="row">
	<div class="col-xs-6">
		<dl class="dl-horizontal">
			{% for prop in view_props %}
			<dt>
				{{prop.human_name}}
			</dt>
			<dd>
				{% if prop.type=='array' %}
					<ul class="property_list">
					{% for item in prop.value %}
						<li>
							{{item | markdown}}
							{% if item and prop.use_for_browse %}
							<a href="{{url_for('browse', short_key=prop.key | replace('prop_', ''), value=item)}}">
								<span class="glyphicon glyphicon-search"></span>
							</a>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				{% else %}
					{% if prop.value %}
						{{prop.value | markdown}}
					{% else %}
						&nbsp;
					{% endif %}
					{% if prop.value and prop.use_for_browse %}
					<a href="{{url_for('browse', short_key=prop.key | replace('prop_', ''), value=prop.value)}}">
						<span class="glyphicon glyphicon-search"></span>
					</a>
					{% endif %}
				{% endif %}
			</dd>
			{% endfor %}
			<dt>Empfohlene Zitierweise</dt>
			<dd>„{{image.prop_title}}{% if image.prop_location or image.prop_creation_year%}, {%endif%}{{[image.prop_location, image.prop_creation_year]|filter|join(', ')}}“
				in: Bilderarchiv Rinderanspannung &lt;{{request.base_url}}&gt; (Stand: {{(image.updated_at or image.created_at) | date_format}})</dd>
		</dl>
		{% if 'username' in session %}
			<a id="editBtn" href="{{url_for('edit_image', store_key=image.store_key)}}" class="btn btn-primary span1"> Edit </a>
			<a id="deleteBtn" href="#deleteDialog" data-toggle="modal" class="span1 btn btn-danger"> Delete </a>
		{% endif %}
		<span id="commentBtn" class="span1">
			<a href="#commentDialog" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span> Kommentieren </a>
		</span>
	</div>
	<div class="col-md-6">
		<div class="thumbnail">
			<a title="Original" href="{{ url_for('get_image', store_key=image.store_key) }}"> <img src="{{ url_for('get_image', store_key=image.store_key, x=640, y=480) }}"/> </a>
			<p>
				hinzugefügt am {{ image.created_at | date_format }}
			</p>
		</div>
	</div>
</div>
</div>
{% if in_result_set %}
{% call pager('') %}{%endcall%}
{% endif %}
{% endblock %}
