<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Image Database</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<link href="{{url_for('static', filename='vendor/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css') }}" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way
				 to the bottom of the topbar */
			}
		</style>
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
	</head>

	<body>
		<script src="{{url_for('static', filename='vendor/jquery-1.8.3.min.js') }}"></script>
		<script src="{{url_for('static', filename='vendor/underscore-min.js') }}"></script>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </a>
					<a class="brand" href="/"> Rinderanspannung </a>
					<div class="nav-collapse">
						<ul class="nav">
							<li>
								<a href="/site/recent/"> Image Database </a>
							</li>
							<li>
								<a href="/site/about"> About </a>
							</li>
							<li>
								<a href="/site/imprint"> Imprint </a>
							</li>
						</ul>
					</div>
					<form class="navbar-form pull-right">
						<input name="textinput1" placeholder="Email" class="span2" type="email">
						<input name="textinput2" placeholder="Password" class="span2" type="password">
						<button class="btn">
							Sign in
						</button>
					</form>
				</div>
			</div>
		</div>
{% macro image_list(images, paging_target, prev_offset, next_offset) %}
{% for row in images|batch(4) %}
<ul class="thumbnails">
	{% for image in row %}
 	<li class="span3">
	<a href="{{ url_for('image_page', store_key=image.store_key) }}"> 		
		<div class="thumbnail">
			<img src="{{ url_for('get_image', store_key=image.store_key, x=400, y=300) }}"/>
			<p>{{ image.prop_title }}</p>
		</div>
	</a>
	</li>
	{% endfor %}
</ul>
{% endfor %}
{{ caller() }}
<ul class="pager">
	{% if prev_offset is defined %}
		<li class="previous"><a href="{{prev_offset}}">&larr; Previous</a></li>
	{% else %}
		<li class="previous disabled"><a href="#">&larr; Previous</a></li>
	{% endif %}
	{% if next_offset is defined %}
		<li class="next"><a href="./{{next_offset}}">&rarr; Next</a></li>
	{% else %}
		<li class="next disabled"><a href="#">&rarr; Next</a></li>
	{% endif%}
</ul>
{% endmacro %}
		<div class="container-fluid">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			
			{% for category, message in messages %}
			
			<div class="alert {{category}}">
				<button type="button" class="close" data-dismiss="alert"> × </button>
				{{message}}
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}

			{% block body %}{% endblock %}
			<hr>

			<div>
				© CK 2012
			</div>
		</div>
		<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
		
<!--		<script src="{{url_for('static', filename='vendor/backbone-min.js') }}"></script>-->
	</body>

</html>