{% extends "layout.html" %}
{% block body %}
<div class="row-fluid">
<div id="subscribeDialog" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3>In den Emailverteiler eintragen</h3>
	</div>
	<form action="{{url_for('subscribe')}}" method="post">
		<div class="modal-body">
			<p>
				<input class="span6" type="text" placeholder="Name" name="name"/>
			</p>
			<p>
				<input class="span6" type="email" placeholder="Email" name="email"/>
			</p>
			<p>
				<textarea class="span6" type="text" placeholder="Kommentar (optional)" name="comment" rows="10"></textarea>
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn" type="submit">
				Absenden
			</button>
			<small><a href="/imprint#privacy">Datenschutzerklärung</a></small>
		</div>
	</form>
</div>

<div class="row-fluid">
<div class="hero-unit container-fluid">
	<h2> Willkommen beim Bilderarchiv Rinderanspannung! </h2>
	<div class="row">
	<p class="span6">
		Wenn Sie an historischer Rinderanspannung interessiert sind und über Fortschritte beim Ausbau
		der Datenbank informiert werden möchten, besteht die Möglichkeit, sich in unseren Emailverteiler
		einzutragen.<br>
		<a class="btn" data-toggle="modal" href="#subscribeDialog">In den Emailverteiler eintragen</a>
		<a class="btn btn-primary" href="/about"> Erfahren Sie mehr » </a>
	</p>
	<div id="myCarousel" class="span6 carousel slide">
		<div class="carousel-inner">
			{% for image in demo_images %}
			<div class="item {%if loop.first%} active {%endif%}">
				<img src="{{ url_for('get_image', store_key=image.store_key, x=640, y=480) }}" alt="">
				<div class="carousel-caption">
					<h4>{{image.prop_title}}</h4>
					<p style="color: rgb(255, 255, 255)"><small>Bildrechte: {{image.prop_rights}}</small></p>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	</div>
</div>
</div>

</div>
{% endblock %}
