{% extends "layout.html" %}
{% block head %}
{% for image in demo_images %}
    <link rel="prefetch" href="{{ url_for('get_image', store_key=image.store_key, x=640, y=480) }}" />
{% endfor %}
{% endblock %}

{% block body %}

<div class="modal fade" id="subscribeDialog" tabindex="-1" role="dialog" aria-labelledby="subscribeBtn" aria-hidden="true">
    <div class="modal-dialog modal-md modal-content container-fluid">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="close">
			&times;
		</button>
		<h3>In den Emailverteiler eintragen</h3>
	</div>
	<form class="horizontal" action="{{url_for('subscribe')}}" method="post">
		<div class="modal-body">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Name" name="real_name"/>
				<input class="hide" type="text" placeholder="Name" name="name"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" placeholder="Email" name="email"/>
			</div>
			<div class="form-group">
				<textarea class="form-control" type="text" placeholder="Kommentar (optional)" name="comment" rows="10"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default pull-left" type="submit">
				Absenden
			</button>
			<small><a href="/imprint#privacy">Datenschutzerklärung</a></small>
		</div>
	</form>
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="jumbotron">
        <h2>Willkommen beim Bilderarchiv Rinderanspannung!</h2>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Wenn Sie an historischer Rinderanspannung interessiert sind und über Fortschritte beim Ausbau
                        der Datenbank informiert werden möchten, besteht die Möglichkeit, sich in unseren Emailverteiler
                        einzutragen.
                    </p>

                    <p>
                        <a id="subscribeBtn" class="btn btn-default" data-toggle="modal" href="#subscribeDialog">In den Emailverteiler eintragen</a>
                        <a class="btn btn-primary" href="/about"> Erfahren Sie mehr » </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for image in demo_images %}
                                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="{%if loop.first%} active {%endif%}"></li>
                            {% endfor %}
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in demo_images %}
                            <div class="item {%if loop.first%} active {%endif%}">
                                <img id="carousel-img-{{loop.index0}}" class="carousel-image" src="{{ url_for('get_image', store_key=image.store_key, x=640, y=480) }}" alt="">
                                <div class="carousel-caption">
                                    <h5><a class="regular-text" href="{{url_for('image_page', store_key=image.store_key)}}">{{image.prop_title}}</a></h5>
                                    <p><small style="font-size: 50%">Bildrechte: {{image.prop_rights}}</small></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="application/javascript">
    $(function(){Tamaraw.resize_images('.carousel-image', 4/3, 0.4);});
</script>
{% endblock %}
