{% extends "layout.html" %}

{% block body %}
<!-- Third party script for BrowserPlus runtime (Google Gears included in Gears runtime now) -->
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<!-- Load plupload and all it's runtimes and finally the jQuery queue widget -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/plupload/plupload.full.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>

{% call db_navbar('upload') %}{%endcall%}


<div id="upload-alert" class="alert hide">
	<button type="button" class="close" data-dismiss="alert"> × </button>
	<span id="message"></span>
</div>

<script type="text/javascript">
// Convert divs to queue widgets when the DOM is ready
$(function() {
	
	function show_alert(level, message) {
		$("#upload-alert #message").replaceWith("<span id='message'>" + message + "</span>");
		var alert = $("#upload-alert");
		$.each(["alert-success", "alert-error", "alert-info"], function(level_to_remove) {
			alert.removeClass(level_to_remove);
		})
	    alert.addClass("alert-" + level);
	    alert.show();
	}
	
    $("#uploader").pluploadQueue({
        // General settings
        runtimes : 'html5,gears,flash,silverlight,browserplus',
        url : '{{url_for("upload_file", upload_group=upload_group)}}',
        max_file_size : '20mb',
        unique_names : false,
        multiple_queues : true,

        // Resize images on clientside if we can
        //resize : {width : 320, height : 240, quality : 90},
 
        // Specify what files to browse for
        filters : [
            {title : "Image files", extensions : "jpg,jpeg,gif,png"},
        ],
        
        init: {
        	UploadComplete: function(uploader, files){
	        	show_alert("success", "Upload successful. <a href='/site/upload_group/{{upload_group}}'>Edit properties</a>.");
	        	
        	},
        	Error: function(up, args) {
        		show_alert("error", "Upload unsuccessful. " + args);
        	}
        },
 
        // Flash settings
        flash_swf_url : '{{url_for("static", filename="vendor/plupload/plupload.flash.swf")}}',
 
        // Silverlight settings
        silverlight_xap_url : '{{url_for("static", filename="vendor/plupload/plupload.silverlight.xap")}}'
    });
});
</script>

<form action="" method="post" enctype="multipart/form-data">
	<div id="uploader">
		<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
		<input type="file" name="file">
		<input type="submit" value="Upload">
	</div>
</form>

{% endblock %}
