Flask==0.9
Jinja2==2.6
Markdown==2.2.1
PIL==1.1.7
PyContracts==1.4.0
Werkzeug==0.8.3
coverage==3.6b1
decorator==3.4.0
nose==1.2.1
passlib==1.6.1
pyparsing==1.5.6
python-dateutil==1.5
python-magic==0.4.3
pytz==2012d
rawes==0.3.1
requests==0.14.2
simplejson==2.6.2
simples3==1.0
thrift==0.8.0
wsgiref==0.1.2
