{% extends "layout.html" %}
{% block body %}
<div class="navbar">
	<div class="navbar-inner">
		<!--<a class="brand" href="#">Title</a>-->
		<ul class="nav">
			<li>
				<a href="/site/recent">Recent Images</a>
			</li>
			<li>
				<a href="#">Search</a>
			</li>
			<li>
				<a href="/site/upload">Upload</a>
			</li>
		</ul>
	</div>
</div>
<div class="thumbnail">
	<h3>{{image.prop_title}}</h3>
	<img src="{{ url_for('get_image', store_key=image.store_key, x=800, y=600) }}"/>
	<p>uploaded {{ image.created_at }}</p>
</div>
{% endblock %}
