{% extends "layout.html" %}
{% block body %}
<div class="navbar">
	<div class="navbar-inner">
		<!--<a class="brand" href="#">Title</a>-->
		<ul class="nav">
			<li>
				<a href="/site/recent">Recent Images</a>
			</li>
			<li>
				<a href="#">Search</a>
			</li>
			<li>
				<a href="/site/upload">Upload</a>
			</li>
		</ul>
	</div>
</div>

<h3>{{image.prop_title}}</h3>
<div class="row">
	<div class="span6">
		<dl class="dl-horizontal">
			{% for prop in view_props %}
			<dt>
				{{prop.human_name}}
			</dt>
			<dd>
				{{prop.value}}
			</dd>
			{% endfor %}
		</dl>
		<a href="{{url_for('edit_image', store_key=image.store_key)}}">
		<button class="btn btn-primary">
			Edit
		</button></a>

	</div>
	<div class="span6">
		<div class="thumbnail">
			<img src="{{ url_for('get_image', store_key=image.store_key, x=640, y=480) }}"/>
			<p>
				uploaded {{ image.created_at }}
			</p>
		</div>
	</div>
</div>
{% endblock %}
