{% extends "layout.html" %}
{% block body %}
<div class="navbar">
	<div class="navbar-inner">
		<!--<a class="brand" href="#">Title</a>-->
		<ul class="nav">
			<li class="active">
				<a href="/site/recent">Recent Images</a>
			</li>
			<li>
				<a href="#">Search</a>
			</li>
			<li>
				<a href="/site/upload">Upload</a>
			</li>
		</ul>
	</div>
</div>
<div>
{% for row in images|batch(4) %}
<ul class="thumbnails">
	{% for image in row %}
 	<li class="span3">
	<div class="thumbnail">
		<img src="{{ url_for('get_image', store_key=image.store_key, x=320, y=240) }}"/>
		<p>uploaded {{ image.created_at }}</p>
	</div>
	</li>
	{% endfor %}
</ul>
{% endfor %}
<ul class="pager">
	{% if prev_offset is defined %}
		<li class="previous"><a href="{{ url_for('recent_images', offset=prev_offset) }}">&larr; Previous</a></li>
	{% else %}
		<li class="previous disabled"><a href="#">&larr; Previous</a></li>
	{% endif %}
	{% if next_offset is defined %}
		<li class="next"><a href="{{ url_for('recent_images', offset=next_offset) }}">&rarr; Next</a></li>
	{% else %}
		<li class="next disabled"><a href="#">&rarr; Next</a></li>
	{% endif%}
</ul>
</div>
{% endblock %}
