{% extends "layout.html" %}
{% block body %}
<div class="navbar">
	<div class="navbar-inner">
		<!--<a class="brand" href="#">Title</a>-->
		<ul class="nav">
			<li class="active">
				<a href="/site/recent">Recent Images</a>
			</li>
			<li>
				<a href="#">Search</a>
			</li>
			<li>
				<a href="/site/upload">Upload</a>
			</li>
		</ul>
	</div>
</div>
<div>
<ul class="thumbnails">
	{% for image in images %}
 	<li class="span3">
	<div class="thumbnail">
		<img src="{{ url_for('get_image', store_key=image.store_key) }}"/>
		<p>uploaded {{ image.created_at }}</p>
	</div>
	</li>
	{% endfor %}
</ul>

</div>
{% endblock %}
