{% extends "layout.html" %}
{% block body %}
<div class="navbar">
	<div class="navbar-inner">
		<!--<a class="brand" href="#">Title</a>-->
		<ul class="nav">
			<li>
				<a href="/site/recent">Recent Images</a>
			</li>
			<li>
				<a href="#">Search</a>
			</li>
			<li class="active">
				<a href="/site/upload">Upload</a>
			</li>
		</ul>
	</div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for category, message in messages %}

<div class="alert {{category}}">
	<button type="button" class="close" data-dismiss="alert"> × </button>
	{{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<script type="text/javascript">
// Convert divs to queue widgets when the DOM is ready
$(function() {
    $("#uploader").pluploadQueue({
        // General settings
        runtimes : 'html5,gears,flash,silverlight,browserplus',
        url : '{{url_for("upload_file", upload_group=upload_group)}}',
        max_file_size : '20mb',
        chunk_size : '64kb',
        unique_names : false,
        multiple_queues : true,

        // Resize images on clientside if we can
        //resize : {width : 320, height : 240, quality : 90},
 
        // Specify what files to browse for
        filters : [
            {title : "Image files", extensions : "jpg,jpeg,gif,png"},
        ],
 
        // Flash settings
        flash_swf_url : '{{url_for("static", filename="vendor/plupload/plupload.flash.swf")}}',
 
        // Silverlight settings
        silverlight_xap_url : '{{url_for("static", filename="vendor/plupload/plupload.silverlight.xap")}}'
    }).bind('UploadComplete', function(uploader, files){
        	alert('wtf44');
        	console.log("uploaded %s", files);
        });
 
    // Client side form validation
    alert('wtf1');
    $('form').submit(function(e) {
    	alert('wtf2');
        var uploader = $('#uploader').pluploadQueue();
        uploader.bind('UploadComplete', function(uploader, files){
        	alert('wtf4');
        	console.log("uploaded %s", files);
        });
 		alert('wtf4');
        // Files in queue upload them first
        if (uploader.files.length > 0) {
            uploader.start();
        } else {
            alert('You must queue at least one file.');
        }
 
        return false;
    });
});
</script>

<form action="" method="post" enctype="multipart/form-data">
	<div id="uploader">
		<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
		<input type="file" name="file">
		<input type="submit" value="Upload">
	</div>
</form>

<!-- Third party script for BrowserPlus runtime (Google Gears included in Gears runtime now) -->
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<!-- Load plupload and all it's runtimes and finally the jQuery queue widget -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/plupload/plupload.full.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/plupload/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>
{% endblock %}
